.cipher-container {
  background: linear-gradient(135deg, #d0d9e3, #b6c2cf);
  /* background-color: rgb(50, 50, 50) !important; */
  padding: 0px 30px;
  border-radius: 20px;
  /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); */
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  min-height: 700px;
}

.header {
  text-align: center;
  margin-bottom: 18px;
}

.cipher-title {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  /* color: white !important; */
}

.title-tooltip-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-button {
  margin-left: 5px;
  background-color: #037dff;
  border-color: #037dff;
  margin-top: 10px;
  /* height: 20px;
  width: 20px; */
  /* padding: 15px; */
}

.input-secret-key-row {
  margin-bottom: 10px;
  display: flex;
  /* justify-content: center; */
  width: 50%;
  /* background-color: red; */
}

.key-inputs {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
  /* margin-bottom: 10px; */
  margin-bottom: 20px;
}

.input-secret-key,
.input-secret-key-number {
  width: 100%;
  /* max-width: 500px; */
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  outline: none;
  border: none;
  /* padding: 15px 30px; */
}

.input-secret-key-number .ant-input-number {
  padding: 5px; /* Padding inside the number input field */
  box-sizing: border-box; /* Ensures padding doesn’t overflow */
  width: 100%; /* Full width for the input */
  outline: none;
}
.input-secret-key-number .ant-input-number-input {
  border: none !important; /* Remove border */
  box-shadow: none !important; /* Remove any shadow */
}

/* Target the addon (label) for background color */
.input-secret-key-number .ant-input-number-group-addon {
  background-color: #037dff !important; /* Change to desired color */
  border-color: #037dff !important;
  color: white !important; /* Optional: change text color */
  padding: 16px !important;
  border-radius: 4px 0 0 4px !important; /* Optional: round the corners */
  display: flex; /* Ensure content aligns properly */
  align-items: center; /* Vertically center the label text */
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.input-secret-key-number .ant-input-number-input:focus {
  border-color: transparent; /* Ensure hover state also has no border */
  background-color: transparent; /* Optional: Change background to transparent */
}

/* secret key */

/* Padding and box-sizing for the input field */
.input-secret-key .ant-input {
  padding: 5px; /* Padding inside the text input field */
  box-sizing: border-box; /* Ensures padding doesn’t overflow */
  width: 100%; /* Full width for the input */
  outline: none; /* Remove outline */
  font-size: medium;
  font-family: "Roboto";
}

/* Remove border and shadow from the input field */
.input-secret-key .ant-input {
  border: none !important; /* Remove border */
  box-shadow: none !important; /* Remove any shadow */
  padding: 23px 20px !important;
}

/* Target the addon (label) for background color */
.input-secret-key .ant-input-group-addon {
  background-color: #037dff !important; /* Change to desired color */
  border-color: #037dff !important;
  color: white !important; /* Change text color to white for contrast */
  padding: 15px !important;
  border-radius: 4px !important; /* Round the corners */

  height: 100%; /* Full height */
  font-family: "Roboto", sans-serif; /* Font styling */
}

/* Ensure the input field does not show borders on focus */

.text-inputs {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 35px;
}

.text-inputs > * {
  flex: 1;
  margin-right: 20px;
  border-radius: 10px;
}

.text-inputs > *:last-child {
  margin-right: 0;
}

.text-input {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.text-input:hover {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
}
